* {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1b1b20;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 600px;
  margin-bottom: 24px;
}

.container-input {
  max-width: 480px;
  margin: 14px 0;
}

.container-input span {
  color: #fff;
  font-size: 22px;
}

.range {
  margin-top: 8px;
  /*-webkit-appearance: none;*/
  width: 100%;
  height: 18px;
  border-radius: 5px;
  background: #dfdfdf;
  outline: none;
  opacity: 0.7;
}

.button-cta {
  height: 40px;
  margin-top: 40px;
  background-color: #3eb72b;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.container-password {
  max-width: 480px;
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.password {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #313131;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  transition: transform 0.5s;
}
.password:hover {
  transform: scale(1.25);
  border-color: #fff;
  font-weight: bold;
}

.hide {
  display: none;
}

.tooltip {
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 6px;
  background: rgb(15, 15, 15);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.container-password:hover .tooltip {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

.copy {
    visibility: hidden;
    width: 330px;
    height: 100px;
    border: 3px solid #3eb72b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #313131;
    font-size: 28px;
    z-index: 1;
    margin-top: -85px;
    
}